.expressage{
	background: #efeff4;
}
.mui-content {
    padding-top: 50px;
}

.address-add {
    padding: 16px 10px;
    background-color:#efeff4;

    .btn {
	    display: block;
	    padding: 0;
	    height: 40px;
	    line-height: 38px;
	    text-align: center;
	    color: #888;
	    font-size: 14px;
	    background-color: #fff8f9;
	    border: 1px solid #ca0e25;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;

	    i {
		    display: inline-block;
		    vertical-align: top;
		    height: 1px;
		    line-height: inherit;
		    margin-right: 5px;
		}
	}
}

.icon-jia:before {
    content: "+";
    font-style:normal;
}