.mui-pull-bottom-tips {
    text-align: center;
    background-color: #efeff4;
    font-size: 15px;
    line-height: 40px;
    color: #777;
}

.boxbody{
	margin-top: 10px;
}

.quan{
	padding-top: 50px;
	height: 100%;
	background-color: #f4f4f4;
}